.body{
    .container-full{
        width:100%;
        margin:0 auto;
    }
}

.navbar {
    border-radius: 0px;
    border:0px;
    margin-bottom: 0px !important;
}
.navbar-default{

    .glyphicon {
        font-size: 20px;
    }
    background-color:#000;
    border-color: none;
    .navbar-nav{

        float:none;
        li{
            a{
                color:#fff;
                &:hover{
                    color: #fff;
                }
                &:active {
                    color: #0f0627;
                }
                &:focus{
                    color: #fff;
                }
            }
            a.active{
                color: #fff;
            }
        }
    }
}

.login-component {
    color: #808080;
}
.logoImg-connect{
    width: 100%
}


.speech-container{
    position: fixed;
    z-index: 100000;
    bottom: 0;
    margin: 20px;
}




.btn-primary{
    color: #fff;
    background-color: #cf1d23;
    border-radius: 0px !important;
    padding: 10px 15px !important;
    text-transform: uppercase;
    border:none;
}

.panel{
    border-radius: 0px !important;
}
.input-first{
    margin-bottom: 10px;
}
.form-control{
    border-radius:0px !important;
}


.title-col{

    width:100%;
    height:40px;
    background: #e6e6e6;
    letter-spacing: .5px;
    line-height: 40px;
    color: #000;
    margin-bottom: 10px;text-align: center;text-transform: uppercase;
    font-weight: bold;
}

.container{
    width: 100%;
   background-image: url('/img/bg/bg.jpg');
    background-repeat: repeat;
}

.banner-container{
   width:100%;height: 250px;
   border-bottom: 8px solid #cf1d23;
   background-image: url('/img/bg/banner.jpg');
   background-size: cover;/* height: 135px; */
   background-position: center; 
   margin-bottom: 20px;
}

.dn{  display: none;}
.db{ display:block;}


.footer-continer{
   width:100%;
   height: 200px;
   background-image: url('/img/bg/footer.jpg');
   background-position: center; 
   padding-top: 20px;
   text-align: center;
   color:#c4c4c4;
   border-top:8px solid #242424;;
}