.body{
    .container-full{
        width:100%;
        margin:0 auto;
    }
}

.navbar-default{
    background-color:#b73d34;
    .navbar-nav{
        float:none;
        li{
            a{
                color:#fff;
                &:hover{
                    color: rgb(220, 218, 112);
                }
                &:active {
                    color: #0f0627;
                }
                &:focus{
                    color: rgb(220, 218, 112);
                }
            }
            a.active{
                color: #0f0627;
            }
        }
    }
}

.login-component {
    color: #808080;
}
.logoImg-connect{
    width: 100%
}


.speech-container{
    position: fixed;
    z-index: 100000;
    bottom: 0;
    margin: 20px;
}



.dn{  display: none;}
.db{ display:block;}
